$main-color: #F3F3F3;
$secondary-color: #FFFFFF;
$third-color: linear-gradient(180deg, #BB1E1E 71.29%, #B21919 99.95%);
$accent-color: #4C7FFF;
$text-color: #3A3A3A;
$button-bg-color: #4C7FFF;
$button-text-color: #FFFFFF;
$red-color: #BB1E1E;


